@import "tailwindcss";

@theme {
  --color-bidcom-50: #e6e6ff;
  --color-bidcom-100: #ccccff;
  --color-bidcom-200: #9999ff;
  --color-bidcom-300: #6666ff;
  --color-bidcom-400: #3333ff;
  --color-bidcom-500: #0000ff;
  --color-bidcom-600: #0000cc;
  --color-bidcom-700: #000099;
  --color-bidcom-800: #000066;
  --color-bidcom-900: #000033;
}
